
#nav1 {
    opacity: 0.9;
    background-color: #007EBB;
    box-shadow: 2px 2px 5px rgb(3, 57, 94);
    height: 75px;
}

#img_logo {
    height: 60px;
}

@media (min-width: 992px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
@keyframes slide-in {
0% {
    transform: translateY(1rem);
    opacity: 0;
}
100% {
    transform:translateY(0rem);
    opacity: 1;
}
0% {
    transform: translateY(1rem);
    opacity: 0;
}
}

@-webkit-keyframes slide-in {
0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
}
100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
}
0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
}
}

.slide-in {
-webkit-animation-name: slide-in;
animation-name: slide-in;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url(img/circuit_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

body {
background: url(img/bg-image2.jpg) no-repeat fixed;

background-size: auto;
}