
#nav1 {
    opacity: 0.9;
    background-color: #007EBB;
    box-shadow: 2px 2px 5px rgb(3, 57, 94);
    height: 75px;
}

#img_logo {
    height: 60px;
}

@media (min-width: 992px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
@keyframes slide-in {
0% {
    transform: translateY(1rem);
    opacity: 0;
}
100% {
    transform:translateY(0rem);
    opacity: 1;
}
0% {
    transform: translateY(1rem);
    opacity: 0;
}
}

@-webkit-keyframes slide-in {
0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
}
100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
}
0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
}
}

.slide-in {
-webkit-animation-name: slide-in;
animation-name: slide-in;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url(img/circuit_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

body {
    background: url(img/bg-image2.jpg) no-repeat fixed;
}

#card {
    opacity: 0.5;
    background-color: #000;
}

#card_body {
    opacity: 1;
}




/* Scroll down button */

.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
 
#section03 a {
    padding-top: 60px;
  }

#section03 a span {
position: absolute;
top: 0;
left: 50%;
width: 46px;
height: 46px;
margin-left: -23px;
border: 1px solid #fff;
border-radius: 100%;
box-sizing: border-box;
}

#section03 a span::after {
position: absolute;
top: 50%;
left: 50%;
content: '';
width: 16px;
height: 16px;
margin: -12px 0 0 -8px;
border-left: 1px solid #fff;
border-bottom: 1px solid #fff;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
box-sizing: border-box;
}

#section03 a span::before {
position: absolute;
top: 0;
left: 0;
z-index: -1;
content: '';
width: 44px;
height: 44px;
box-shadow: 0 0 0 0 rgba(255,255,255,.1);
border-radius: 100%;
opacity: 0;
-webkit-animation: sdb03 3s infinite;
animation: sdb03 3s infinite;
box-sizing: border-box;
}

@keyframes sdb03 {
0% {
    opacity: 0;
}
30% {
    opacity: 1;
}
60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
}
100% {
    opacity: 0;
}
  }